<header class="sticky top-0 bg-white/70 backdrop-blur-xl dark:bg-neutral-800/30">
    <div class="container mx-auto px-6 py-4">
        <div class="flex justify-between items-center gap-5">
            <h1 class="font-semibold shrink-0 text-xl font-mono"><a href="/">Yuan's Blog</a></h1>
            <img class="rounded-xl w-8 h-8 outline-dashed outline-1 outline-offset-2 dark:outline-neutral-600" src="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&f=mp" alt="logo">
        </div>
    </div>
</header>

<style is:inline>
    header {
        backdrop-filter: saturate(180%) blur(20px);
    }
</style>