<header class="sticky top-0 bg-white/70 border-dashed border-b-2 dark:bg-neutral-800/70 dark:border-neutral-800">
    <div class="container mx-auto px-6 py-2.5">
        <div class="flex justify-between items-center gap-6 mb-6">
            <h1 class="font-semibold shrink-0 text-lg font-mono"><a href="/">Yuan's Blog</a></h1>
            <a class=""><img class="rounded-xl w-8 h-8 outline-dashed outline-1 outline-offset-2 outline-neutral-200 dark:outline-neutral-600" src="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&f=mp" alt="logo"></a>
        </div>
        <nav class="flex flex-nowrap overflow-hidden overflow-x-scroll gap-3 text-xs font-light *:shrink-0">
            <a class="transition active:scale-90" href="#">🏠 首页</a>
            <a class="transition active:scale-90" href="#">😎 关于</a>
            <a class="transition active:scale-90" href="#">✍️ 留言</a>
        </nav>
    </div>
</header>

<style is:inline>
    header {
        backdrop-filter: saturate(180%) blur(20px);
    }
</style>