---
import PageLayout from "../layouts/PageLayout.astro";
import PostCard from "../components/BlogPost.astro"

const allPosts = await Astro.glob('./posts/*.md');
---

<PageLayout>
    <main class="container mx-auto px-6 py-8">
        <div class="space-y-6">
            {allPosts.map((post) => <PostCard url={post.url} frontmatter={post.frontmatter} /> )}
        </div>
    </main>
</PageLayout>