---
import PageLayout from "../layouts/PageLayout.astro";
import PostCard from "../components/BlogPost.astro"

const allPosts = await Astro.glob('./posts/*.md');
---

<PageLayout>
    <main class="container mx-auto px-6 py-8">
        <h1 class="flex items-center text-lg font-bold font-sans opacity-25 mb-6">Blog <svg class="h-5 w-5" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5313" width="200" height="200"><path d="M335.5 832.2c146.8 0 331.3-192 312.5-365.2C627.1 273.4 888.5 65 788.9 65c-22.5 0-63.5 10.6-130.3 34.5-362.5 129.5-530.2 552-440.1 673.2 4.2 5.6 8.5 10.8 13.1 15.5L154 909.8c-6.3 9.9-6.7 22.3-1.1 32.6 5.6 10.2 16.4 16.6 28.1 16.6h375c17.7 0 32-14.3 32-32s-14.3-32-32-32H239.4l45.5-71.4c16 5.8 33 8.6 50.6 8.6z m-76.9-145.9c-0.6-28.4 5-63 16.2-99.9 11.9-39.4 29.5-79.7 52.1-120 24.4-43.3 53.6-84.4 86.8-122.1 35.9-40.8 75.8-76.9 118.6-107.2 46.3-32.8 96-58.8 147.7-77.3 6-2.1 11.8-4.2 17.3-6.1-54.7 82.7-126.1 199.6-113.1 320.1 6.7 61.9-22.9 136.3-79.1 199-52 57.9-118.6 95.4-169.8 95.4-5.1 0-9.9-0.4-14.6-1.1L391 657.2c9.5-14.9 5.1-34.7-9.8-44.2s-34.7-5.1-44.2 9.8l-69.2 108.6c-3.6-6.4-8.7-19.9-9.2-45.1zM843 895H715c-17.7 0-32 14.3-32 32s14.3 32 32 32h128c17.7 0 32-14.3 32-32s-14.3-32-32-32z" p-id="5314"></path></svg></h1>
        <section class="space-y-6">
            {allPosts.map((post) => <PostCard url={post.url} frontmatter={post.frontmatter} /> )}
        </section>
    </main>
</PageLayout>