---


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="icon" type="image/x-icon" href="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&amp;f=mp"> -->
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="袁某人,博客,主页"/>
		<meta name="description" content="袁某人的个人博客，记录生活和开发笔记" />
		<title>Astro</title>
	</head>
	<body>

		<header class="bg-white/30 backdrop-blur border-b">
			<div class="container mx-auto px-6 py-3">
				<div class="flex justify-between items-center gap-5">
					<h1 class="font-bold shrink-0"><a href="#">🥬 Mr.Yuan</a></h1>
					<nav class="inline-flex flex-nowrap overflow-hidden overflow-x-scroll gap-2 text-xs font-light *:shrink-0">
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">🏠 首页</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">😎 关于</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">✍️ 留言</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">🏠 首页</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">😎 关于</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">✍️ 留言</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">🏠 首页</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">😎 关于</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">✍️ 留言</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">🏠 首页</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">😎 关于</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">✍️ 留言</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">🏠 首页</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">😎 关于</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">✍️ 留言</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">🏠 首页</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">😎 关于</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">✍️ 留言</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">🏠 首页</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">😎 关于</a>
						<a class="rounded px-2 py-1 transition hover:bg-slate-100 active:bg-slate-200 active:scale-90" href="#">✍️ 留言</a>
					</nav>
				</div>
			</div>
		</header>

	</body>
</html>

<style is:global>
	::-webkit-scrollbar{
		display:none
	}
</style>
