---
import PageLayout from "../layouts/PageLayout.astro";
import PostCard from "../components/PostCard.astro"

const allPosts = await Astro.glob('./posts/*.md');
---

<PageLayout>
    <main class="container mx-auto py-8 px-6">

        <div class="grid gap-8 grid-cols-1 lg:grid-cols-2">
            {allPosts.map((post) => <PostCard url={post.url} frontmatter={post.frontmatter} /> )}
        </div>

    </main>
</PageLayout>