---
import PageLayout from "../layouts/PageLayout.astro";
import PostCard from "../components/PostCard.astro"

const allPosts = await Astro.glob('./posts/*.md');
---

<PageLayout>
    <main class="container mx-auto p-6 h-[2000px]">

        <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            {allPosts.map((post) => <PostCard url={post.url} frontmatter={post.frontmatter} /> )}
        </div>

    </main>
</PageLayout>