<section id="BackToTopBox" class="container mx-auto sticky bottom-0">
	<div class="flex justify-end">
		<button class="text-center text-lg font-light space-x-5 uppercase mb-5" style="writing-mode: tb-rl;">👆 back to top</button>
	</div>
</section>


<!-- <script>
	const backToTopButton = document.getElementById('backToTopButton');
	let timer = null;

	function toggleBackToTopButton(){

		if(timer !== null) clearTimeout(timer);

		if(this.window.pageYOffset > 100){
			backToTopButton.style.display = 'block';
			timer = setTimeout(() => {
				backToTopButton.style.display = 'none';
			}, 3000);
		}else{
			backToTopButton.style.display = 'none';
		}
	}

	backToTopButton.addEventListener('click', function(event) {
		event.preventDefault();
		window.scrollTo({
			top:0,
			behavior: 'smooth'
		});
	});
	window.addEventListener('scroll', toggleBackToTopButton);
</script> -->