<!-- <section id="BackToTopBox" class="h-full w-full static container mx-auto z-50 bg-black">
	<div class="flex justify-end">
		<button id="backToTopButton" class="text-center text-lg font-light space-x-5 uppercase mb-5 cursor-pointer pointer-events-auto hidden" style="writing-mode: tb-rl;">👆 back to top</button>
	</div>
</section> -->

<section class="w-full h-full fixed top-0 z-50 pointer-events-none">
	<div class="container mx-auto h-full relative">
		<button id="backToTopButton" class="block absolute bottom-6 right-0 text-lg font-light cursor-pointer pointer-events-auto uppercase hidden" style="writing-mode: tb-rl;">👆 back to top</button>
	</div>
</section>

<script>
	const backToTopButton = document.getElementById('backToTopButton');
	let timer = null;

	function toggleBackToTopButton(){

		if(timer !== null) clearTimeout(timer);

		if(this.window.pageYOffset > 100){
			backToTopButton.style.display = 'block';
			timer = setTimeout(() => {
				backToTopButton.style.display = 'none';
			}, 3000);
		}else{
			backToTopButton.style.display = 'none';
		}
	}

	backToTopButton.addEventListener('click', function(event) {
		event.preventDefault();
		window.scrollTo({
			top:0,
			behavior: 'smooth'
		});
	});
	window.addEventListener('scroll', toggleBackToTopButton);
</script>