---
const { url,frontmatter } = Astro.props;
---
 
<article>
	<h1 class="leading-relaxed tracking-wider line-clamp-3">{frontmatter.title}</h1>
	<date class="text-xs font-light font-mono mt-2.5 text-neutral-400 dark:text-neutral-600">(2024-07-24)</date>
</article>
