---
const { url,frontmatter } = Astro.props;
---
 
<article class="bg-white rounded-2xl overflow-hidden aspect-auto">
    <div class="rounded-[25px] overflow-hidden transition duration-700 hover:scale-95"><a href="#"><img class="w-full h-full object-cover aspect-video" src="https://docs.astro.build/assets/rose.webp" loading="lazy"></a></div>
    <div class="px-1 pt-6 space-y-6">
        <h1 class="text-2xl">我的第一篇博客文章</h1>
        <!-- <p class="text-neutral-600 font-light text-sm text-justify line-clamp-2 mb-5 h-full dark:text-neutral-400">这是我 Astro 博客的第一篇文章。这是我 Astro 博客的第一篇文章。这是我 Astro 博客的第一篇文章。这是我 Astro 博客的第一篇文章。</p> -->
        <date class="block text-sm text-neutral-600 font-mono font-light">2024-07-24</date>
    </div>
</article>