---
const { url,frontmatter } = Astro.props;
---
 
<article class="bg-white rounded-lg overflow-hidden aspect-auto border p-1.5 dark:bg-neutral-800 dark:border-neutral-700">
    <div class="rounded-md border p-1 dark:border-neutral-700"><img class="w-full object-cover aspect-video rounded overflow-hidden" src="https://docs.astro.build/assets/rose.webp" loading="lazy"></div>
    <div class="px-1 pt-2.5">
        <h1 class="font-extrabold">我的第一篇博客文章</h1>
        <!-- <p class="text-neutral-600 font-light text-sm text-justify line-clamp-2 mb-5 h-full dark:text-neutral-400">这是我 Astro 博客的第一篇文章。这是我 Astro 博客的第一篇文章。这是我 Astro 博客的第一篇文章。这是我 Astro 博客的第一篇文章。</p> -->
        <date class="text-xs text-neutral-600 font-mono font-light">2024-07-24</date>
    </div>
</article>