---
import BackToTopButton from "../components/BackToTopButton.astro";
import FooterComponent from "../components/layout/FooterComponent.astro";
import HeaderComponent from "../components/layout/HeaderComponent.astro";
import BaseLayout from "./BaseLayout.astro";



const { frontmatter  } = Astro.props;
---

<BaseLayout PageTitle = { frontmatter.title }>

    <HeaderComponent />

    <main class="container mx-auto px-6 py-8">
        <h1 class="text-2xl font-bold">{frontmatter.title}</h1>
        <section class="flex flex-wrap gap-5 items-center mt-2 mb-8">

            <div class="flex items-center gap-1 text-sm font-light text-neutral-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                </svg>
                <span class="border-b-2 border-dashed leading-4">{frontmatter.date.toString().slice(0,10)}</span>
            </div>

            <div class="flex items-center gap-1 text-sm font-light text-neutral-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
                <span class="border-b-2 border-dashed leading-4">176字 / 1.5分钟</span>
            </div>


            
        </section>
        <article class="post-content text-base ">
            <slot />
        </article>
    </main>

    <FooterComponent />
    
    <BackToTopButton />

</BaseLayout>


<style is:global>
    .post-content p{
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    .post-content img {
        width: auto;
        max-width: 100%;
    }

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base{
        .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
            @apply relative mb-4 mt-6 hover:before:content-['#'] before:absolute before:-inset-2 before:place-content-center before:text-neutral-200 before:font-light dark:before:text-neutral-700;
        }
        .post-content h1, .post-content h2, .post-content h3, .post-content h4 { 
            @apply font-bold;
         }
         .post-content h1 {
            @apply text-2xl before:-inset-4;
         }
         .post-content h2 {
            @apply text-xl before:-inset-3.5;
         }
         .post-content h3 {
            @apply text-lg before:-inset-3.5;
         }
         .post-content h4 {
            @apply text-base before:-inset-3;
         }
         .post-content h5 {
            @apply text-sm before:-inset-2.5;
         }
         .post-content h6 {
            @apply text-xs before:-inset-2;
         }
    }

</style>